.card {
    max-width: 300px;
    min-width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 20px;
    margin:20px;
}
.card-image {
    height: 300px;
    border-radius: 15px;
}
.card-image img {
    height: 100%;
    border-radius: 15px;
}
.card-text {
    padding: 0 15px;
    margin-top: 15px;
    text-align: center;
}
.card label {
    font-weight: 700;
    font-size: 22px;
}
.card p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
}